body {
    font-family: 'EB Garamond', serif;
    color: #2B303A; 
    box-sizing: border-box;
    background-color: #DFE4DF;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    
}

.margin {
    width: 56rem; 
    margin: 0rem auto 3rem auto   
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p {
line-height: 1.5;
font-size: 1.3rem;
}

h1 {
    font-size: 3.998rem;
}

h2 {
    font-size: 2.827rem; 
}

h3 {
    font-size: 1.999rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

hr { 
    width:100%; 
    color: #417B5A; 
    background-color: #417B5A; 
    height: 8px;
    margin: 0;
}

nav a {
    background-color: #2B303A;
    color: #9A879D;
    padding: .5rem .5rem;
    margin: .5rem 1rem;
    border-radius: 20px;
    transition: 1s;
}

nav a:hover {
    background-color: #2B303A;
    box-shadow: 4px 6px 12px 2px rgba(0,0,0,0.42);
    transition: 1s;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    list-style-type: none;
}

nav {
    position: sticky;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: 1;
}

header { border-bottom: 1px dotted #bbbbbb;
       width: 25rem;
       margin-bottom: 1rem;
       }


.title { 
    border-bottom: 1px dotted #bbbbbb;
    width: 25rem;
    margin-bottom: 4rem;
}


.pic { 
    border-radius: 150px; 
    border: 5px double #417B5A; 
    box-shadow: 4px 6px 12px 2px rgba(0,0,0,0.42); 
    transition: .5s;
}

.pic:hover {
    transform: scale(1.2); transition: 1s;
}


.link {
    background-color: #2B303A;
    color: #9A879D;
    padding: .5rem .5rem;
    margin: .5rem 1rem;
    border-radius: 20px;
    transition: 1s;
}

.link:hover {
    background-color: #2B303A;
    color: #417B5A;
    box-shadow: 4px 6px 12px 2px rgba(0,0,0,0.42);
    transition: 1s;
}

.gg-mail,
.gg-mail::after {
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid
}
.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 18px;
    border-radius: 2px
}
.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
    left: 0
}
.gg-mail:hover {
    color: #417B5A;
}