.mini {
    height: 300px;
    width: auto;
    position: relative;
    bottom: 39.3rem;
    left: 6.5rem;
}

.beeg {
    font-size: 6rem;
    margin-top: 100px;
}

main {
    margin-top: 10px;
}

@media(max-width: 1025px){
    .mini {
    visibility: hidden;
        height: 0rem;
        width: 0rem;
    }
}

@media(max-width: 900px){
    main {
        margin-left: 6rem;
        margin-right: 3rem;
        width: 35rem;
    }
}

@media(max-width: 733px){
    main {
    margin-left: 3rem;
    margin-right: 3rem;
    }
}


