
.hero-box {
    height: 26rem;
    background-image: url('https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64df0a6ad38031455e525e70_%20-%2014.jpg');
    background-size: cover;
}

.hero-box p, header {
    margin-left: 10px;
}

.mini-leigh {
    position: relative;
    top:100px;    
} 

section {
    width: 100%;
}

section > p {
    width: 600px;
}
@media (max-width: 905px) {
    section > p {
        width: 500px;
        margin-left: 60px;
    }

    .hero-box {
        width: 920px;
    }
}

.lol {
    margin-top: 50px;
}

main {
        margin-top: 30px;
        min-height: 100%;
        float: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
}
