
.hero-box {
    height: 26rem;
    min-width: 100%;
    background-image: url('https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64df0a6ad38031455e525e70_%20-%2014.jpg');
    background-size: cover;
}

.mid {
    margin: 0rem auto 3rem auto  
}

@media (max-width: 1024px){
    .hero-box {
        height: 30rem;
    }

    .fix {
        height: 1.1rem;
    }

    section {
        width: 50rem;
    }
}

@media (max-width: 430px){
    .hero-box {
        height: 35rem;
    } 

    .fix {
        height: 1.1rem;
    }
}

.hero-box p, header {
    margin-left: 10px;
}

.mini-leigh {
    position: relative;
    top:10rem;
    height: 40rem;
    width: auto;
} 

section {
    width: 45rem;
}

section {
    width: 40rem;
}
@media (max-width: 912px) {
    section {
        width: 800px;
        margin-left: 2rem;
    }

    .hero-box {
        width: 920px;
    }

    .fix {
        width: 920px;
    }

    .mini-leigh {
        visibility: hidden;
        height: 0rem;
        width: 0rem;
    }
}

.lol {
    margin-top: 50px;
}

main {
        margin-top: 30px;
        min-height: 100%;
        float: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
}

nav > ul{
    margin-left: 10rem;
}


